@model MvcWebIdentityA.Entities.Aluno

@{
    ViewData["Title"] = "Deletar";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Deletar</h1>
    <h3 class="text-muted">Tem certeza de que deseja excluir este aluno?</h3>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-header bg-primary text-white">
        <h4>Aluno Details</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Idade)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Idade)
            </dd>
            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Curso)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Curso)
            </dd>
        </dl>
    </div>
</div>

<div class="text-center">
    <form asp-action="Delete">
        <input type="hidden" asp-for="AlunoId" />
        <button type="submit" class="btn btn-danger btn-lg px-4 py-2" onclick="return confirm('Você tem certeza que deseja excluir este Aluno?')">Excluir</button>
        <a class="btn btn-secondary btn-lg px-4 py-2 ml-3" asp-action="Index">Voltar</a>
    </form>
</div>
